*{
	scroll-behavior: smooth;
	scrollbar-color:#230057 #420084;
}

.barracima{
	background: linear-gradient(180deg, #230057, #420084);
	position: sticky;
	animation: fade-in 1s ease-in-out forwards;
}
.quadro{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	animation: fade-in 1s ease-in-out forwards;
}
.logao{
	font-weight: bold;
	text-decoration: none;
	color: yellow;
	padding-left: 15px;
	cursor: pointer;
}

.quadro li{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	color: yellow;
}
.barracima button{
    text-align: right;
	font-size: 18px;
	padding: 0 10px;
	font-family: Arial;
	border: none;
	color: yellow;
	background: linear-gradient(180deg, #07001f, #140a74);
	display: inline-block;
	cursor: pointer;
}

.barracima button:hover{
    transition: background-color 0.2s ease;
	background: #4e28a9;
}

.credit1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style-type: none;
	animation: fade-in 1s ease-in-out forwards;
}

.credit1 a{
	color: yellow;
	text-decoration: none;
}

.credit1 a:hover {
	color: blue;
	text-decoration: underline;
}

.bloco1 {
    text-align: center;
    background-color: rgb(90, 0, 90);
    transform: skew(20deg);
    height: 50px;
    animation: fade-in 1s ease-in-out forwards;
}

.bloco2 {
    text-align: center;
    background-color: rgb(90, 0, 90);
    transform: skew(-20deg);
    height: 50px;
	animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
    from { opacity:0 ;} 
	to { opacity: 1; } 
	from { font-size: 0px ;} 
	to { font-size: 20px;}
	from { scale:0 ;}
	to { scale:1 ;}
}

.bloco1.show {
    left: 0%;
    transform: translateX(0);
}

#color {
	color: yellow;
	font-size: 20px;
	transition: color 0.5s ease;
}

img {
	height: 50px;
}

